<mat-tab-group>
    <mat-tab class="tab-center" label="Fertilizer recommendation"> 
      <div class="center">
        <h3>npk recommendation</h3>
      </div>     
      <mat-grid-list cols="1" rowHeight="700px">
          <mat-grid-tile>
              <div class="example-container" >
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>pH</mat-label>
                  <input type="number" step = "0.001" matInput [(ngModel)]="pH">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>humus</mat-label>
                  <input type="number" step = "0.001" matInput [(ngModel)]="humus" >
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>carbonate</mat-label>
                  <input type="number" step = "0.001" matInput  [(ngModel)]="carbonate" >
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>nitrogen</mat-label>
                  <input type="number" step = "0.001" matInput [(ngModel)]="nitrogen">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>phosphorous</mat-label>
                  <input type="number" step = "0.001" matInput [(ngModel)]="phosphorous">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>potassium</mat-label>
                  <input type="number" step = "0.001" matInput  [(ngModel)]="potassium">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>Plant</mat-label>
                  <mat-select name="plants" id="plants" [(ngModel)]="plant">
                    <mat-option value="malina">Malina</mat-option>
                    <mat-option value="sljiva">Sljiva</mat-option>
                    <mat-option value="jagoda">Jagoda</mat-option>
                    <mat-option value="kupina">Kupina</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                
                <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="onSubmit()">Recommend </button>
                </mat-card-actions>
                <br>
                <br><br>
                <p>{{recommendation}}</p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab class="tab-center" label="Plant recommendation"> 
      <div class="center">
        <h3>plant recommendation</h3>
      </div>     
      <mat-grid-list cols="1" rowHeight="700px">
          <mat-grid-tile>
              <div class="example-container" >
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>pH</mat-label>
                  <input type="text" matInput >
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>humus</mat-label>
                  <input type="text" matInput >
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>carbonate</mat-label>
                  <input type="text" matInput  placeholder="Ex. pat@example.com" >
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>nitrogen</mat-label>
                  <input type="text" matInput >
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>phosphorous</mat-label>
                  <input type="text" matInput >
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-200">
                  <mat-label>potassium</mat-label>
                  <input type="text" matInput  placeholder="Ex. 0631122333">
                </mat-form-field>
                <br>
                
                <mat-card-actions>
                  <button (click) = "onSubmit()" mat-raised-button color="primary">Recommend </button>
                </mat-card-actions>
                <br>
                <br><br>
                <p>{{recommendation}}</p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>